/*RESET CSS*/
* {
  padding: 0;
  margin: 0;
}


/*Bases*/
:root {
  --violet: #1A0058;
  --rose: #85309F;
  --blanc: #ffffff;
  --noir: #000000;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
/* Titres, menus, boutons */
h1, h2, h3, h4, h5, h6,
nav ul li a,
.brand-name,
.cta-button,
footer ul li a,
footer {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 2.2rem;
  color: var(--violet);
  margin:0.5rem 0;
}
h2 {
  font-size: 1.8rem;
  color: var(--rose);
  margin:1rem 0 0 0;
}
h3 {
  font-size: 1.4rem;
  font-weight: 900;
  margin: 0 0 -0.5rem 0;
}
p {
  font-size: 1.125rem;
}
img {
  width: 100%;
}
hr {
  width: 80%;
  color: var(--violet);
  height: 0.1rem;
  background-color: var(--violet);
  margin: 1rem 0;
}
.images {
  border-radius: 1rem 1rem 5rem 1rem;
  border: 0.3rem solid var(--violet);
  padding: 0.3rem;
}

/*Header*/
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  background-color: var(--violet);
}
.logo-header {
  width: 40px;
  background-color: white;
  padding: 0.5rem;
  margin: -10px -10px -15px -10px;
  border-radius: 5px 5px 1.5rem 5px;
}
/*Nom du header*/
.brand-name {
  font-size: 1.2rem;
  color: var(--blanc);
}


/* menu deplié*/
#menu-toggle:checked + .menu-icon + nav {
  max-height: 500px;
}
nav {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  position: absolute;
  top: 100%;
  right: 0;
  background: var(--violet);
  width: 100%;
  z-index: 2;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  border-top: 1px solid var(--blanc);
}
nav ul li a {
  display: block;
  padding: 1rem;
  color: var(--blanc);
  text-decoration: none;
   transition: background-color 0.3s ease;
}
nav ul li a:hover {
  background-color: var(--rose);
}



/*Page d'accueil presentation de base*/
#hero {
  height: 100vh;
  color: var(--blanc);
  background: linear-gradient(to top, var(--blanc), var(--rose));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#top {
    padding-top: 80px;   /* adapte à la hauteur réelle du header */
  margin-top: -80px;
}

/*Logo coeur*/
.logo-form {
  max-width: 250px;
  display: block;
  margin:  -5rem auto 0 auto;
  animation: heartbeat 1.5s ease-in-out infinite;
  transform-origin: center;
  z-index: 1;
}
@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.2);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}
/*Texte du logo*/
.logo-txt {
  width: 60%;
  max-width: 400px;
  display: block;
  margin: 1rem auto 0 auto;
  z-index: 1;
}
/*Slogan*/
.slogan {
  color: var(--noir);
}
/*Bouton call to action de presentation*/
.cta-button {
  display: inline-block;
  padding: 1rem 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 50px;
  background: linear-gradient(270deg, #6a1b9a, #f48fb1, #8e24aa);
  background-size: 600% 600%;
  animation: gradientShift 6s ease infinite;
  transition: transform 0.3s ease;
}
.cta-button:hover {
  transform: scale(1.05);
}
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


















/*Bouton menu*/
.menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 1001;
  position: relative;
}
.menu-icon .line {
  display: block;
  height: 4px;
  background: white;
  background-size: 200% auto;
  background-repeat: no-repeat;
  animation: heartbeat-line 2s linear infinite;
  transition: all 0.4s ease;
  border-radius: 2px;
}
.menu-icon .top,
.menu-icon .middle,
.menu-icon .bottom {
  width: 80%;
}
#menu-toggle:checked + .menu-icon .top {
  transform: translateY(10px);
}
#menu-toggle:checked + .menu-icon .middle {
  transform: rotate(90deg);
}
#menu-toggle:checked + .menu-icon .bottom {
  transform: translateY(-10px);
}
#menu-toggle {
  display: none;
}



/*Boutons lateral contact et appel telephonique*/
.scroll-top, .call-button {
  width: 15px;
  height: 25px;
  position: fixed;
  right: 0rem;
  background-color: var(--rose);
  color: var(--blanc);
  padding: 0.8rem 1rem;
  text-align: center;
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  opacity: 0.8;
  display: flex;
}
.call-button {
  border-radius: 20px 0px 0px 0px;
  bottom: 4.3rem;
  font-size: 1.2rem;
}
.scroll-top {
  border-radius: 0px 0px 0px 20px;
  bottom: 1rem;
  font-size: 1.4rem;
}



/*contenu de page standard*/
section {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

/*bouton des contenus*/

.go-button {
  display: inline-block;
  background-color: var(--violet);
  color: var(--blanc);
  border: none;
  padding: 0.6rem 1.2rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border-radius:2rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
}
.go-button:hover {
  background-color: var(--rose);
  animation: jump-forward 0.3s forwards;
}
@keyframes jump-forward {
  0% {
    transform: translateZ(0);
    box-shadow: none;
  }
  50% {
    transform: translateZ(20px) scale(1.1);
    box-shadow: 0 10px 20px rgba(250, 0, 150, 0.4);
  }
  100% {
    transform: translateZ(0);
    box-shadow: none;
  }
}



/*Footer premiere partie violet*/
footer {
  background: var(--violet);
  color: var(--blanc);
  padding: 1rem 0 0 0;
  text-align: center;
  border-top: 0.3rem solid var(--rose);
}
.footer-social {
  border-bottom: 0.2rem solid var(--blanc);
  padding: 0.5rem 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-facebook, .fa-instagram, .fa-youtube {
  color: var(--blanc);
  margin: 0 0.7rem;
  transition: color 0.3s ease;
}
.fa-facebook {
  font-size: 1.7rem;
}
.fa-instagram {
  font-size: 2rem;
}
.fa-youtube {
  font-size: 2rem;
}
.fa-facebook:hover, .fa-instagram:hover, .fa-youtube:hover {
  color: var(--rose);
}
.logo-footer {
  width: 40%;
  padding:1rem ;
  background-color: var(--blanc);
  border-radius: 2rem;
}
.footer-contact p {
  margin: 0.3rem 0;
}
.footer-contact a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-contact a:hover {
  color: var(--rose);
}




/*Footer deuxieme partie rose*/
.footer-nav {
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.8rem;
  background-color: var(--rose);
}
.footer-nav a {
  color: var(--blanc);
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-nav a:hover {
  color: var(--violet);
}



/*Footer troisieme partie noir*/
.sub-footer {
  background-color: var(--noir);
  text-align: center;
  padding: 1.2rem 0;
}
.sub-footer a {
  color: var(--blanc);
  font-family: 'Quicksand', sans-serif;
  text-decoration: none;
  font-size: 0.9rem;
  text-decoration: underline;
  transition: color 0.3s ease;
}
.sub-footer a:hover {
  color: var(--rose);
}
.copyright {
  color: #ffffff;
  margin-top: 0rem;
  font-size: 0.9rem;
}










/*Qui suis-je*/
.photo-presentation {
  border-radius: 1rem 1rem 5rem 1rem;
  height: 15rem;
  width: 15rem;
  padding: 0.3rem;
  border: 0.3rem solid var(--violet);
}

.title-em {
  margin: -0.5rem 0 0 0;
}

.fa-graduation-cap, .fa-briefcase, .fa-heart-circle-bolt, .fa-bowl-rice, .fa-dumbbell, .fa-weight-scale {
  font-size:5rem;
  color: var(--violet);
  margin-bottom: -0.5rem;
}








/*Coachings*/
.price {
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--rose);
  margin: -1rem 0 0 0;
}
.price p {
  font-size: 3.7rem;
  font-weight: 900;
  font-family: 'Quicksand', sans-serif;}

.fa-euro-sign {
  font-size: 3.2rem;
}







/*Contact*/
#contact a {
  text-decoration: none;
  color: var(--noir);
  margin-bottom: 1rem;
  transition: color 0.4s ease;
}

#contact a .fa-phone,
#contact a .fa-envelope {
  color: var(--violet);
  font-size: 2rem;
  transition: color 0.4s ease;
}

#contact a:hover {
  color: var(--rose);
}

#contact a:hover .fa-phone,
#contact a:hover .fa-envelope {
  color: var(--rose);
}

#contact .fa-location-dot {
  font-size: 2rem;
  color: var(--violet);
}


iframe {
  width:100%;
  height: 220px;
  border-radius: 1rem 1rem 5rem 1rem;
  border: 0.3rem solid var(--violet);
  padding: 0.3rem;
}